<p class="title">
  <strong>Title:</strong>
  <%= @wiki.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@wiki.body) %>
  <%# markdown method is configured in the application_helper.rb  %>
</p>

<p>
  <strong>Wiki Info:</strong>
  <div class="single-wiki-info">
    <% if @wiki.private? %>
      <span class="private">Private Wiki</span>
    <% else %>
      <span class="public">Public Wiki</span>
    <% end %>
    <br>
    <% if @wiki.users.include?(current_user) %>
      <span class="collaborator">Collaborator</span>
    <% end %>
  </div>
</p>

<p>
  <strong>Author:</strong>
  <%= @wiki.user.email %>
</p>
<% if @wiki.users.include?(current_user) || @wiki.user == current_user || current_user.admin? %>
<%= link_to 'Edit', edit_wiki_path(@wiki), class: 'btn btn-default btn-sm' %> |
<% end %>
<%= link_to 'Back', wikis_path, class: 'btn btn-default btn-sm' %>
