<!DOCTYPE html>
<html>
<head>
  <title>Blocpedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%# any embedded code with display_ is a HELPER in application_helper.rb  %>
  <nav class="navbar navbar-default">
    <div class="container"><%# using this to set a container in the nav bar %>
      <%= link_to   'Blocpedia',  root_path, :class => 'navbar-brand' %>
      <div class="pull-right">
        <% if user_signed_in? %>
          <div class="user-nav-links">
              Hello, <%= display_username %><br>
              <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link'%> | <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, :class => 'navbar-link' %>
              | User Type: <%= display_user_role %>
          </div>
        <% else %>
          <div class="guest-nav-links">
            <%= link_to 'Sign Up', new_user_registration_path, :class => 'navbar-link' %> | <%= link_to 'Sign In', new_user_session_path, :class => 'navbar-link'  %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="flash">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:warning] %>
      <div class=" alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
<%= yield %>

  </div>
</body>
</html>
